<!DOCTYPE html>
<html>
<head>
    <title>Detección automática de daños en pinturas de caballete</title>
    <meta charset="UTF-8" name="Jesús Cortés Alcaraz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1 class="title text-center">Detección automática de daños en pinturas de caballete</h1>
    </header>
    {% block body %}
    {% endblock %}

    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Google -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="jesus.cortes.alcaraz@gmail.com"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Linkedin -->
            <a
                class="btn text-white btn-floating m-1"
                style="background-color: #0082ca;"
                href="#!"
                role="button"
                ><i class="fab fa-linkedin-in"></i
            ></a>
          </section>
      <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>


<style>
  .title{
    background-color: #0082ca;
  }

  body{
    background-color: #5cd3fa;
    position: relative;
    padding-bottom: 3em;
    min-height:100vh;
  }

  footer{
    position: absolute;
    bottom: 0;
    width:100%;
  }

  .jumbotron{
    background-color: #5cd3fa;
  }
</style>
</html>