{% extends "layout.html" %}
{% block body %}
<section class="jumbotron text-center">
    <h2>Cuadro: {{name_file}}</h2>
</section>

<div class="container">
  <div class="main row">
    <div class="col-md-5">
      <h3>Imagen original </h3>
      <img src="{{ url_for('static', filename='./images/test.jpg')}}" width = "400" height = "auto"/>
    </div>

    <div class="col-md-5">
      <h3>Daños detectados</h3>
      <img src="{{ url_for('static', filename='./images/deteccion.jpg')}}" width = "400" height = "auto"/>
      <form action="{{ url_for('DownloadImages') }}" method="GET">
        <input type="submit" value="Descargar imágen"/>
      </form>
    </div>

    <div class="col-md-2">
      <h3>Características</h3>
      <p>Caracteristicas respecto los daños que se han detectado</p>
      <ul>
        <li>Área del lienzo: {{tamaño}} píxeles<sup>2</sup></li>
        <li>Área no dañada: {{zona_no_dañada}} píxeles<sup>2</sup></li>
        <li>Área dañada: {{zona_dañada}} píxeles<sup>2</sup></li>
        <li>Porcentaje de daño: {{porcentaje}}%</li>
      </ul>
    </div>

  </div>
  <a href="{{ url_for('SubirImagen') }}">Volver a cargar nueva imágen</a>
</div>

{% endblock %}